* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    // background-image: url(/assets/image/landscape_00_vecteezy_ai_graphic.jpg);
    // height: 100% cover;
    


    &:is( html ) {
        font-size: 62.5%;
    }

    &:is( body ) {
        position: relative;
        font-size: 1.6rem;
    }
}