@use "../global/variables" as *;
@use "../global/mixins" as *;


footer {
    background-color: black;
    height: auto;
    width: auto;
}

footer p {
    font-weight: bolder;
    color: $light;
    padding: 6rem;
    margin: 0;
    font-size: 3rem;
}

footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    
}