// @use "sass:map" as *;
@use "../global/variables" as *;
@use "../global/mixins" as *;

header {
    position: relative;
    z-index: 1;
}

header p {
    font-size: 2rem;
}

header article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header section {
    display: flex;
    justify-content: space-between;
    box-shadow: 0.1rem 0.1rem 0.5rem $dark;
    height: 8rem;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
    gap: 2rem;
}

.poke_lien {
    text-decoration: none;
    color: $dark;
    font-size: 2rem;
}

header nav a {
    text-decoration: none;
}

.btn_nav1, .btn_nav2 {

    border: 0.1rem solid $primary;
    border-radius: 1rem;
    padding: 0;
    height: 3.3rem;
    width: 10rem;
}

.btn_nav1 {
    color: $light;
    font-size: 2rem;
    background-color: $primary;
}

.btn_nav2 {
    color: $primary;
    font-size: 2rem;
    background-color: $light;
}

header img {
    height: 5rem;
    margin: 1rem;
}

.btn_nav1:hover {
    background-color: $light;
    color: $primary;
}

.btn_nav2:hover {
    background-color: $primary;
    color: $light;
}
