@use "../../global/variables" as *;
@use "../../global/mixins" as *;


#call_to_action {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90rem;
    width: auto;

    background-image: url("/assets/image/landscape_00_vecteezy_ai_graphic.jpg");
    background-size: cover;
    

}